<div class="container">
  <div class="card">
    <div class="row">
      <div class="img-big-wrap">
        <div>
          <figure><img src="{{ book.thumbnailUrl }}" /></figure>
        </div>
      </div>

      <h3 class="title mb-3">{{ book.title }}</h3>
      <dl>
        <dt>
          <span style="color: burlywood;">By </span
          ><span style="color: darkcyan;">{{ book.authors }}</span>
        </dt>
      </dl>
      <dl>
        <dt>ISBN</dt>
        <dd>{{ book.isbn }}</dd>
      </dl>
      <dl class="item-property">
        <dt>Description</dt>
        <dd>
          <p>{{ book.longDescription }}</p>
        </dd>
      </dl>
      <dl>
        <dt>Tags</dt>
        <dd>{{ book.categories }}</dd>
      </dl>
      <hr />
      <a href="/home" class="btn btn-lg btn-primary text-uppercase">
        Back
      </a>
    </div>
  </div>
</div>
